#root {
  width: 100%;
  /* margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  }
  
/* SCROLL BAR ----------------------------------------------------------------- */

::-webkit-scrollbar {
  width: 8px;
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgb(63, 63, 63);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(80, 80, 80);
}

::-webkit-scrollbar-thumb:active {
  background: rgb(99, 99, 99);
}

::-webkit-scrollbar-button:start {
  background: rgba(0, 0, 0, 0);
  height: 41px;
}


.dropdown-menu::-webkit-scrollbar-button:start {
  background: rgba(0, 0, 0, 0);
  height: 0px;
}

/* MOVIE LIST ------------------------------------------------------------------ */

#backdrop {
  width: 100%;
  pointer-events: none;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.1s;
  margin-right: 10px;
  margin-left: 10px;
}

.item:hover {
  transform: scale(1.05);
}

.item:active {
  transform: scale(1.02);
}

#container {
  position: relative;
  top: -380px;
  width: 100%;
  /* height: calc(100% - 100px); */
  display: grid;
  overflow-y: scroll;
  overflow-x: hidden;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 10px;
  padding-top: 10px;
}

#list-poster {
  height: 200px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 1);
  cursor: pointer;
  animation: fadein 1s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#list-title {
  color: white;
  font-family: "Open Sans Semibold";
  font-size: 14px;
  white-space: nowrap;
}

#list-year {
  color: grey;
  font-family: "Open Sans";
  font-size: 12px;
}
